In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
credit_card_data=pd.read_csv(r"C:\Users\sudhe\Downloads\archive\creditcard.csv")

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
#data analysis
#types of data and contents of imported dataset(dataframe)
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
#sum of null values
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#check distribution of legit transaction and fraudulent transaction
#0 represents legit transaction
#1represents fraudulent transaction
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [13]:
#separating two types of transactions for further analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]
legit.shape

(284315, 31)

In [14]:
fraud.shape

(492, 31)

In [15]:
#stastical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
#compare the values for both legit and fraud
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
#under sampling method
#build a sample dataset containing similar distribution of normal transactionand fraud transaction
#number of fraudulent transaction is 492
#number of legit transaction 284315
#picking random 492 points  from legit and joining with fraud
legit_sample=legit.sample(n=492)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
224845,143990.0,-0.779364,1.134632,-0.220847,-0.923951,0.259559,-0.985294,1.167604,-0.036175,-0.337228,...,-0.055973,-0.193095,0.009491,-0.061163,-0.766777,0.025924,-0.192920,0.087046,65.38,0
198924,132714.0,1.978939,-0.627899,-0.643944,-0.093773,-0.375570,0.353102,-0.836500,0.237423,1.384162,...,0.188423,0.673984,0.093256,0.218774,-0.136243,0.105840,0.000510,-0.050123,17.95,0
152645,97429.0,1.936028,-0.391544,0.455258,0.673310,-1.217873,-0.703623,-0.940000,-0.103963,2.595080,...,-0.082077,0.169631,0.375442,0.434502,-0.669984,0.413046,-0.037385,-0.038219,14.95,0
66151,51911.0,-0.862674,0.654272,1.829386,-0.994818,0.473093,0.918238,0.863237,-0.378552,0.482527,...,-0.097708,-0.057937,-0.438941,-1.286451,0.264421,0.323548,-0.883152,-0.452577,69.90,0
276536,167154.0,1.563707,-0.782300,-0.519724,1.300762,-0.559028,0.018471,-0.304955,0.034885,0.605348,...,0.375828,0.780160,-0.087857,-0.334289,-0.138630,-0.582911,0.017911,-0.008840,200.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135727,81375.0,1.093786,-0.578313,1.065815,0.304472,-1.298040,-0.379465,-0.598666,0.060409,1.261390,...,-0.201969,-0.478268,0.030714,0.445911,0.100272,0.937935,-0.047828,0.023947,69.32,0
121017,76045.0,0.613588,-1.667841,0.158070,0.647822,-1.044591,0.658992,-0.378255,0.081002,-0.374749,...,-0.055675,-0.315849,-0.440724,-0.779338,0.418787,-0.177684,0.022810,0.084334,370.00,0
193554,130183.0,2.109386,0.725600,-3.236879,0.677651,1.380313,-1.487305,0.842896,-0.481584,-0.044882,...,-0.066214,0.048270,-0.056781,0.447055,0.419676,0.689822,-0.075303,-0.013535,0.76,0
283400,171565.0,-0.898843,0.898190,0.729156,-1.311373,0.962243,-0.562098,1.189478,-0.283827,0.006509,...,-0.247442,-0.622870,-0.174638,-0.424015,-0.196861,0.060726,-0.314421,-0.010496,0.89,0
218776,141454.0,2.099674,-0.872007,-0.754920,-0.599392,-0.537423,0.094521,-0.779081,-0.076871,-0.201239,...,-0.636936,-1.320742,0.423281,0.066856,-0.614865,0.232409,-0.017819,-0.028951,47.98,0

In [22]:
#joining legit_sample and fraud
#all the 492 fraud will be below legit_sample points
new_dataset=pd.concat([legit_sample,fraud],axis=0)
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [23]:
#this shows that we have both fraud and legit with equal data counts i.e.492
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [24]:
#the columns v1 of below output and
#the output we got by groupby() above tells that
#nature of dataset is almost same
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,97713.229675,-0.121792,-0.136717,-0.006397,-0.056622,-0.061970,0.001017,0.065711,-0.072139,-0.047777,...,0.050078,0.047024,-0.014568,0.033894,-0.014315,-0.020373,0.011536,-0.017428,-0.024757,116.644431
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [26]:
#splitting data into features and targets
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']
y

224845    0
198924    0
152645    0
66151     0
276536    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [37]:
#split data into training data and testing data
x_train,x_test, y_train , y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

In [38]:
#model training
#logistic regression model
model=LogisticRegression()

In [39]:
#training the logistic regression model with training data
model.fit(x_train,y_train)

LogisticRegression()

In [40]:
#model evaluation based on accuracy score
#accuracy score on training data
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [44]:
print('Accuracy on training data : ',training_data_accuracy)

Accuracy on training data :  0.9301143583227446

In [45]:
#accuracy on test data
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [46]:
print('Accuracy score on test data : ',test_data_accuracy)

Accuracy score on test data :  0.8883248730964467